.agence-container {
  width: 100%;

  padding: 0px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.agence-titre-logo {
      padding: 40px 20px;

  h1 {
    font-family: 'Tangerine', cursive;
    margin: 0;
    font-size: 60px;
    } ul {
    list-style-type: none;
  } a {
    color: black;
  }
}




.agence-horaires {
  padding: 40px 20px;
  a {
    color: white;
    padding: 20px 30px;
    background-color: #c5c5c4;

  } a:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  img {
    margin-bottom: 30px;
  }
}

.agence-histoire {
    padding: 40px 20px;
  // width: 40%;
  text-align: justify;
  line-height: 1.5;

}

.alignement-description {

  text-align: center;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
